<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Crimson+Text:wght@700&family=Work+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/home.css" />
  </head>
  <body>
    <div class="intro">
      <div class="nav-bar">
        <div class="title">
          <img class="logo-img" src="images/logo.svg" alt="" />
          <h1 class="title-txt">INSURENCE</h1>
        </div>
        <div class="navigation-bar">
          <a class="nav-button home-nav" href="">Home</a>
          <a class="nav-button about-nav" href="">About Us</a>
          <a class="nav-button contact-nav" href="">Contact</a>
          <a class="nav-button sign-nav" href="/sign-up">Sign Up</a>
        </div>
      </div>
      <div class="welcome-div">
        <div class="text-div">
          <h2 class="txt-1">welcome</h2>

          <h2 class="txt-2">Life Insurence</h2>

          <p class="txt-3">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit
            nemo hic quos, ab, dolor aperiam nobis cum est eos error ipsum,
            voluptate culpa nesciunt delectus iste?
          </p>
        </div>
        <button class="welcome-btn">Explore</button>
      </div>
    </div>
    <div class="policy-div">
      <h2 class="txt-1">insurence</h2>
      <h2 class="txt-2">Policies We Offer</h2>
      <h2 class="txt-3">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit.
      </h2>
    </div>

    <div class="ins-logo">
      <div class="logo-1"></div>
      <div class="logo-2"></div>
      <div class="logo-3"></div>
      <div class="logo-4"></div>
    </div>
    <div class="btn-div">
      <button class="logo-btn">Learn More</button>
    </div>

    <div class="part-3">
      <div class="content-3">
        <div class="txt-div">
          <h2 class="txt-1">
            Still Confused <br />
            Don't Worry
          </h2>
          <p class="txt-2">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit
            nemo hic quos, ab, dolor aperiam nobis cum est eos error ipsum,
            voluptate culpa nesciunt delectus iste?
          </p>
          <button class="btn-1">Learn More</button>
        </div>
      </div>
    </div>

    <div class="part-4">
      <div class="review-title">
        <h2 class="txt-1">Review</h2>
        <h2 class="txt-2">Our Clients</h2>
        <p class="txt-3">
          Lorem ipsum, dolor sit amet consectetur Suscipit nemo hic quos, ab,
        </p>
      </div>
      <div class="card-div">
        <img src="images/review-frame.png" alt="" />
      </div>
      <button class="more-btn">View More Review</button>
    </div>
    <footer>
      <div class="div">
        <div class="logo-footer">
          <a href="https://www.facebook.com/"
            ><img src="images/fb-logo.svg" alt=""
          /></a>
          <a href="https://www.instagram.com/"
            ><img src="images/insta-logo.svg" alt=""
          /></a>
          <a href="https://twitter.com/"
            ><img src="images/twitter-logo.svg" alt=""
          /></a>
          <a href="https://www.pinterest.com/"
            ><img src="images/pinterrest-logo.svg" alt=""
          /></a>
          <a href="https://www.whatsapp.com/"
            ><img src="images/wp-logo.svg" alt=""
          /></a>
          <a href="https://www.youtube.com/"
            ><img src="images/yt-logo.svg" alt=""
          /></a>
        </div>
        <h2 class="copright-txt">© Start, 2022. All rights reserved.</h2>
      </div>
    </footer>
  </body>
</html>
