<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign-Up</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Work+Sans:wght@500&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/sign-up.css" />
  </head>
  <body>
    <div class="div-left">
      <div class="title-div">
        <img class="title-logo" src="images/sign-up-title-logo.svg" alt="" />
        <h2 class="logo-txt">Insurence</h2>
      </div>
      <div class="txt-div-1"></div>
      <img
        class="text-div-left-2-bg"
        src="images/sign-up-left-div2-bg.png"
        alt=""
      />
      <img
        class="text-div-left-2"
        src="images/sign-up-left-div2-top.png"
        alt=""
      />
      <img class="text-div-left-3" src="images/sign-up-left-div3.png" alt="" />
    </div>

    <div class="form-div">
      <div class="sign-up">
        <h2>have an account?</h2>
        <a href="/sign-in">Sign in!</a>
      </div>
      <h2 class="get-started">Get Started With Us</h2>
      <h3 class="get-started-txt-2">Getting started is easy</h3>

      <button class="google-btn">
        <img src="images/google-btn.png" alt="" />
      </button>
      <button class="facebook-btn">
        <img src="images/facebook-btn.png" alt="" />
      </button>
      <img
        class="continue-with-social"
        src="images/img-continue-txt.png"
        alt=""
      />
      <form action="/create/account" method="post">
        <input
          class="input-form fullname"
          type="text"
          placeholder="Full Name"
          name="fullName"
        />
        <input
          class="input-form email"
          type="email"
          placeholder="Email"
          name="email"
        />
        <input class="input-form password" type="password" name="password" placeholder="Password" />
        
        <input
          class="input-form re-password"
          type="password"
          placeholder="Confirm password"
        />
        <label class="input-form upload" for="upload-btn"
          ><img class="img-up-logo" src="images/file-upload-icon.png" alt=""
        /></label>
        <input id="upload-btn" title="Upload" type="file" name="" />
        <button class="create-btn">Create Account</button>
      </form>
    </div>
    <h2 class="term">
      By continuing you indicate that you read and agreed to the Terms of Use
    </h2>
  </body>
</html>
