<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign-up</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&family=Work+Sans:wght@500&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/sign-in.css" />
  </head>
  <body>
    <div class="div-left">
      <div class="title-div">
        <img class="title-logo" src="images/sign-up-title-logo.svg" alt="" />
        <h2 class="logo-txt">Insurence</h2>
      </div>
        <h2 class="sign-up-h2">Don’t have an account?</h2>
        <a href="/sign-up" class="sign-up-btn">Sign up!</a>
      <div class="form-div">
        <h2 class="txt-1">Welcome Back</h2>
        <h2 class="txt-2">Login into your account</h2>
        <button class="google-btn">
          <img src="images/google-btn.png" alt="" />
        </button>
        <button class="facebook-btn">
          <img src="images/facebook-btn.png" alt="" />
        </button>
        <img
          class="continue-with-social"
          src="images/img-continue-txt.png"
          alt=""
        />
        <form action="/customer" method="post">
          <input
            class="input-form cutomer-id"
            type="text"
            name="id"
            placeholder="Customer Id"
          />
          <input
            class="input-form password"
            type="password"
            name="password"
            placeholder="Password"
          />
          <label class="switch">
            <input type="checkbox" />
            <span class="slider round"></span>
            <h2 class="slider-txt">Remember me</h2>
            <a href="" class="forgot-btn">Recover Password</a>
          </label>
          <button class="login-btn">Log In</button>
        </form>
      </div>
    </div>
    <div >
      <img class="div-right-bg" src="images/sign-in-right-bg.png" alt="">
      <img class="div-right-top" src="images/sign-in-right-bg-top.png" alt="">
    </div>
  </body>
</html>
