body {
  position: relative;
  width: 1440px;
  height: 900px;
  margin: 0;
  padding: 0;
  background: #f0f2f5;
}
.div-left {
  position: absolute;
  width: 619px;
  height: 900px;
  /* left: 9px; */
  margin: 0;
  top: -8px;
  margin: 0;
  padding: 0;

  background: url(../images/sign-up-left-bg.png);
}
.title-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 18px;

  position: absolute;
  width: 281px;
  height: 50px;
  left: 24px;
  top: 35px;
}
.title-logo {
  width: 70px;
  height: 48.31px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.logo-txt {
  width: 193px;
  height: 50px;

  font-family: "Work Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 125%;
  /* identical to box height, or 50px */

  padding: 0;
  margin: 0;

  color: #000000;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}
.text-div-left-3 {
  position: absolute;
  width: 246px;
  height: 158.04px;
  left: 238px;
  top: 694px;
}
.text-div-left-2-bg {
  position: absolute;
  width: 246px;
  height: 60px;
  left: 246px;
  top: 623px;

  background: #20dc49;
  border-radius: 47.5616px;
}
.text-div-left-2 {
  position: absolute;
  width: 167px;
  height: 38.22px;
  left: 265px;
  top: 634px;
}
/* -----------------Form Div---------------------- */
.form-div {
  position: absolute;
  width: 584px;
  height: 723.75px;
  left: 811px;
  top: 48px;
}
.get-started {
  position: absolute;
  width: 290px;
  height: 44px;
  left: 33px;
  top: 33px;
  padding: 0;
  margin: 0;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 44px;
  /* identical to box height, or 183% */

  color: #000000;
}
.get-started-txt-2 {
  position: absolute;
  width: 190px;
  height: 11px;
  left: 50px;
  top: 70px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 15.035px;
  line-height: 11px;
  /* identical to box height, or 73% */

  color: #7e7e7e;
}
.google-btn {
  position: absolute;
  width: 126px;
  height: 43px;
  top: 115px;
  border: none;
}
.facebook-btn {
  position: absolute;
  width: 126px;
  height: 44px;
  left: 140px;
  top: 115px;
  border: none;
}
.continue-with-social {
  position: absolute;
  width: 395px;
  height: 15px;
  left: -55px;
  top: 180px;
}
.input-form {
  position: absolute;
  width: 400px;
  height: 70px;
  background: #ffffff;
  margin: 0;
  border: 1px solid #d9d9d9;
  border-radius: 10px;
  padding-left: 24px;
}
.fullname {
  left: -55px;
  top: 215px;
}
.email{
  left: -55px;
  top: 307px;
}
.password {
  left: -55px;
  top: 397px;
}
.re-password {
  left: -55px;
  top: 487px;
}
input[type="file"] {
  display: none;
  color: transparent;
}
.upload {
  left: -55px;
  top: 584px;
  width: 400px;
  height: 50px;
  text-align: center;
  padding-top: 20px;
}
.create-btn {
  position: absolute;
  width: 430px;
  height: 57.75px;
  left: -55px;
  top: 710px;

  background: #20dc49;
  border-radius: 10px;
  border: none;
}
.term {
  position: absolute;
  width: 515px;
  height: 15px;
  left: 720px;
  top: 706px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 14px;
  /* identical to box height, or 104% */

  color: #5a5a5a;
}
.sign-up {
  position: absolute;
  width: 189px;
  height: 17px;
  left: 315px;
  top: -60px;
}
.sign-up h2 {
  position: absolute;
  width: 130px;
  height: 15px;
  top: 48px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 14px;
  /* identical to box height, or 104% */

  color: #000000;
}
.sign-up a {
  position: absolute;
  width: 58px;
  height: 17px;
  left: 135px;
  top: 58px;
  text-decoration: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  /* or 104% */

  color: #20dc49;
}
